
#myProgress{
    background-color: black;
    width: 50%;
}
#html{
    background-color: aqua;
    width: 90%;
    height: 30px;
}
#css{
    background-color: aqua;
    width: 60%;
    height: 30px;
}
#tail{
    background-color: aqua;
    width: 86%;
    height: 30px;
}
#boots{
    background-color: aqua;
    width: 50%;
    height: 30px;
}
#js{
    background-color: aqua;
    width: 20%;
    height: 30px;
}
