
#myProgress{
    background-color: black;
    width: 50%;
    margin-left: 80px;
    margin-bottom: 20px;
}
#html{
    background-color: aqua;
    width: 95%;
    height: 30px;
}
#css{
    background-color: aqua;
    width: 80%;
    height: 30px;
}
#tail{
    background-color: aqua;
    width: 86%;
    height: 30px;
}
#boots{
    background-color: aqua;
    width: 80%;
    height: 30px;
}
#js{
    background-color: aqua;
    width: 50%;
    height: 30px;
}
.skills{
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    justify-content: center;
}
footer p, footer h1{
    margin-left: 50px;
}